<br>
<div class="modal-body" style="background-color: whitesmoke">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000" alt="images" width="400" height="400">
            </div>
            <div class="col">
                <div class="container" style="border: 2px solid rgb(240, 234, 234); border-radius: 10px;">
                    <!-- <div class="row mt-3">
                    <div class="container mt-3 mb-3"
                        style="border: 1px solid #dee2e6!important; padding: 6px; border-radius: 5px;">
                        <a class="google_login" href="#" style="text-decoration: none; color: #000;">
                            <div style="text-align: center;">
                                <div>
                                    <img src="https://internshala.com/static/images/login/google_logo.png">

                                    <b>Sign Up with Google</b>
                                </
                                div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="border" style="border: 1px solid #dee2e6!important; width:160px;"></div>
                    </div>

                    <div class="col" style="margin-top: -12px;">
                        OR
                    </div>

                    <div class="col">
                        <div class="border" style="border: 1px solid #dee2e6!important; width:160px;"></div>
                    </div>
                </div>  -->


                    <form class="row g-3" novalidate [formGroup]="myform">
                        <div class="row mt-3">

                            <div class="col">
                                <br>
                                <label for="formGroupExampleInput2" class="form-label"><b>Email</b></label>
                                <input formControlName="email" type="email" class="form-control"
                                    id="formGroupExampleInput2" placeholder="shashank@example.com">
                                <div class="text-danger"
                                    *ngIf="myform.controls['email'].touched && myform.controls['email'].invalid ">
                                    <p *ngIf="myform.controls['email'].errors?.['required']"><b>Email is required</b>
                                    </p>
                                    <p *ngIf="myform.controls['email'].errors?.['email']"><b>Please enter valid
                                            Email</b>
                                    </p>
                                    <p *ngIf="myform.controls['email'].errors?.['minlength']"><b>Email min length 4
                                            character is required</b></p>
                                </div>
                            </div>
                        </div>

                        <div class=" row mt-3">
                            <div class="col">
                                <label for="formGroupExampleInput2" class="form-label"><b>Password</b></label>
                                <input formControlName="password" type="password" class="form-control"
                                    id="formGroupExampleInput2" placeholder="Minimum be atleast 5 characters">
                                <div class="text-danger"
                                    *ngIf="myform.controls['password'].touched && myform.controls['password'].invalid">
                                    <p *ngIf="myform.controls['password'].errors?.['required']"><b>Please Enter
                                            Password</b>
                                    </p>
                                    <p *ngIf="myform.controls['password'].errors?.['minlength']"><b>Min length should 5
                                            char</b></p>
                                    <p *ngIf="myform.controls['password'].errors?.['maxlength']"><b>Max length should 7
                                            char</b></p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <a href="/forgot-password" target="_blank"
                                    style="float: right; text-decoration: none"><b>Forgot
                                        password?</b></a>
                            </div>

                            <div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <div class="d-grid gap-2">
                                            <button (click)="getValues()" type="submit"
                                                class="btn btn-primary">Login</button>
                                        </div>
                                    </div>
                                    <div>

                                        <div class="row mt-3">
                                            <label style="text-align: center;">
                                                New to Internshala?
                                                <a href="/register" target="_blank"
                                                    style="text-decoration: none;"><b>Register</b></a>
                                            </label>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <mat-dialog-actions align="end">
                        <!-- <button mat-button mat-dialog-close>Cancel</button>
                        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
                      </mat-dialog-actions>
                </div>
            </div>
        </div>
    </div>
</div>