<div style="background-color: #FAFAFA;">
    <div class="container "><br> <br>
        <h1 style="text-align: center;">JOBS</h1>
        <div class="row">
            <div class="col sticky">
                <div class="card sticky">
                    <div class="card-body">
                        <div id="form_container">
                            <div class="d-flex justify-content-center align-items-center">
                                <i class="fa fa-filter" aria-hidden="true" style="font-size:xx-large">Filters</i>
                            </div>
                            <div class="card sticky">
                                <form class="card sticky" style="align-content: center; padding-left: 10px;">
                                    <!-- Category Selector -->
                                    <div>
                                        <br>
                                        <label for="select_category" style="font-size: large; color: blue;">Category
                                            :</label>
                                        <div id="category_options" style="padding-left: 100px;">
                                            <select id="select_category" name="select_category"
                                            ngModel #category="ngModel" data-placeholder="e.g Marketing" class="form_control">
                                                <option value="Backend Development">
                                                    Backend Development
                                                </option>
                                                <option value="Front End Development">
                                                    Front End Development
                                                </option>
                                                <option value="Java Development">
                                                    Java Development
                                                </option>
                                                <option value="Humanities">
                                                    Humanities
                                                </option>
                                                <option value="CAD Design">
                                                    CAD Design
                                                </option>
                                                <option value="MBA">
                                                    MBA
                                                </option>
                                                <option value="Medicine">
                                                    Medicine
                                                </option>
                                                <option value="NGO">
                                                    NGO
                                                </option>
                                                <option value="Media">
                                                    Media
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- City selector -->
                                    <div class="category_container">
                                        <label for="select_city" style="font-size: large; color: blue;">Location
                                            :</label>
                                        <div id="city_options" style="padding-left: 100px;">
                                            <select id="select_city" name="select_city" data-placeholder="e.g Mumbai"
                                            ngModel #location="ngModel" class="form_control">
                                                <option value="Bangalore">Bangalore</option>
                                                <option value="Kolkata">Kolkata</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Mumbai">Mumbai</option>
                                                <option value="Chennai">Chennai</option>
                                                <option value="Hyderabad">Hyderabad</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Check box - 1 -->
                                    <br>
                                    <div class="filters_checkboxes">
                                        <div class="flex_row">
                                            <label for="work_from_home" style="font-size: large; color: blue;">Work from
                                                home : <input type="checkbox"> </label>
                                        </div>
                                        <br>
                                        <!-- Checkbox - 2 -->
                                        <div class="flex_row">
                                            <label style="font-size: large; color: blue;">Work from office : <input
                                                    type="checkbox"></label>
                                        </div>
                                        <br>
                                        <div class="d-flex justify-content-center">
                                            <div class="button">
                                                <input [routerLink]="['/search/intern']"
                                                    [queryParams]="{ category:category.value, location: location.value,type:'jobs'}"
                                                    type="submit" class="button1">
                                            </div>
                                            <div class="button">
                                                <input type="reset" class="button1">
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div *ngFor="let intern of internship">
                    <div class="card">
                        <div class="card-body">

                            <h2 class="card-title" style="color: blue; text-align: center;">{{intern.title}}</h2>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4 class="card-sub"><span><i class="bi bi-building"></i></span><b> Company: </b>
                                        {{intern.sub}} </h4>

                                </div>
                                <div>
                                    <h4><b><i class="bi bi-geo-alt"></i> Location: </b>
                                        <span>{{intern.location}}</span>
                                    </h4>
                                </div>
                            </div>
                            <br>
                            <div class="d-flex justify-content-around">
                                <div>
                                    <h4 class="card-text1"><b><i class="bi bi-play-circle"></i> START
                                            DATE</b><br>{{intern.startdate}}</h4>
                                </div>

                                <div>
                                    <h4 class="card-text3"><b><i class="bi bi-cash"></i> CTC</b><br>{{intern.ctc}}</h4>
                                </div>
                                <div>
                                    <h4 class="card-text4"><b><i class="bi bi-hourglass-split"></i> APPLY
                                            BY</b><br>{{intern.apply}}</h4>
                                </div>
                            </div>

                            <br>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p><i class="fa fa-briefcase"></i><b> {{intern.type}}</b></p>
                                </div>
                                <div>
                                    <a href="{{intern.link}}"><b>View Details</b></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>