<div class="  p-4 " style="background-color: #333333;">
    <div class="container ">
        <div class="d-flex justify-content-around">
            <div>
                <h4>Internships by places</h4>
                <div>
                    <a href="#">Internships in India</a>
                </div>
                <div>
                    <a href="#">Internships in Delhi</a>
                </div>
                <div>
                    <a href="#">Internships in Bangalore</a>
                </div>
                <div>
                    <a href="#">Internships in Hyderabad</a>
                </div>
                <div>
                    <a href="#">Internships in Mumbai</a>
                </div>
                <div>
                    <a href="#">Internships in Chennai</a>
                </div>
                <div>
                    <a href="#">Internships in Gurgaon</a>
                </div>
                <div>
                    <a href="#">Internships in Kolkata</a>
                </div>
            </div>
            <!--Grid column-->
            <div>
                <h4>Job by Places</h4>
                <div>
                    <a href="#">Jobs in Delhi</a>
                </div>
                <div>
                    <a href="#">Jobs in Bangalore</a>
                </div>
                <div>
                    <a href="#">Jobs in Mumbai</a>
                </div>
                <div>
                    <a href="#">Jobs in Kolkata</a>
                </div>
                <div>
                    <a href="#">Jobs in Shimoga</a>
                </div>
            </div>

            <div>
                <h4>Internships by Stream</h4>
                <div>
                    <a href="#">Computer Science Internship</a>
                </div>
                <div>
                    <a href="#">Electronics Internship</a>
                </div>
                <div>
                    <a href="#">Mechanical Internship</a>
                </div>
                <div>
                    <a href="#">Civil Internship</a>
                </div>
                <div>
                    <a href="#">Marketing Internship</a>
                </div>
                <div>
                    <a href="#">Chemical Internship</a>
                </div>
                <div>
                    <a href="#">Finance Internship</a>
                </div>
                <div>
                    <a href="#">Summer Research Fellowship</a>
                </div>
            </div>
            <div>
                <h4>Job by Stream</h4>
                <div>
                    <a href="#">Marketing Job</a>
                </div>
                <div>
                    <a href="#">Sales Job</a>
                </div>
                <div>
                    <a href="#">web Development Job</a>
                </div>
                <div>
                    <a href="#">Content Writing Job</a>
                </div>
                <div>
                    <a href="#">Finance Job</a>
                </div>
            </div>

            <div>
                <h4>
                    Online Trainings
                    <!-- <span > <a href="#">OFFER</a></span> -->
                </h4>
                <div>
                    <a href="#">Programming with python</a>
                </div>
                <div>
                    <a href="#">Digital Marketing</a>
                </div>
                <div>
                    <a href="#">Web Development</a>
                </div>
                <div>
                    <a href="#">Machine Learning</a>
                </div>
                <div>
                    <a href="#">Advance Excel</a>
                </div>
                <div>
                    <a href="#">Ethical Hacking</a>
                </div>
                <div>
                    <a href="#">Auto CAD</a>
                </div>
                <div>
                    <a href="#">Creative Writing</a>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="gicon">
                <a href="#">
                    <i class='fab fa-google-play' ><span>Get Android App</span></i>
                </a>
            </div> -->
        <!-- <div class="icon" >
                <span>
                    <a href="#"> <i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter "></i></a>
                    <a href="#"><i class="bi bi-youtube "></i></a>
                    <a href="#"><i class="bi bi-linkedin "></i></a>
                </span>
            </div> -->
        <!-- <div class="copy">
                <span>© Copyright 2021 InternShala</span>
            </div> -->
        <!-- </div> -->
    </div>
    <hr style="color: grey;">
</div>

<div class=" p-2 " style="background-color: #333333;">
    <div class="container">
        <!--Grid row-->
        <div class="d-flex justify-content-around">
            <div>
                <a href="/about-us">About Us </a>
            </div>
            <div>
                <a href="/contact"> Contact Us </a>
            </div>
            <div>
                <a href="/hire-interns-of-you-company">Hire interns for your
                    Company </a>
            </div>
            <div>
                <a href="/services">Our Services </a>
            </div>
            <div>
                <a href="/privacy">Privacy</a>
            </div>
            <div>
                <a href="/terms">Trems & Conditions </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <div class="container">
                    <div class="gicon">
                        <a href="#">
                            <i class='fab fa-google-play'><span>Get Android App</span></i>
                        </a>
                    </div>
                    <div class="icon">
                        <span>
                            <a href="#"> <i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-twitter "></i></a>
                            <a href="#"><i class="bi bi-youtube "></i></a>
                            <a href="#"><i class="bi bi-linkedin "></i></a>
                        </span>
                    </div>
                    <div class="copy">
                        <span>© Copyright 2022 Internshala replicated by Shashank and Priya </span>
                        
                    </div>
                </div>

            </div>


            <!-- <div class="col" id="copyright"
                style="text-align: right; color: #ffffff; font-size: 16px; text-decoration: none;">
                © Copyright 2022 Internshala
            </div>
            <div class="clear">
            </div> -->

        </div>
    </div>
</div>