.card-title {
    text-align: center;
    font-size: xx-large;
}
.card-text{
    text-align: center;
    font-size: large;
    line-height: 1px;
}
h2{
    text-align: center;  
}

.but a {
    text-decoration: none;
    color: white;
    padding: 30px;
}

/* .imgs img{
 width: 100%; 
 height: 587px;
 z-index: 2;
 position: absolute;  
   
}  */

.container{
    text-align: center;
}

.colh2{
    color: #0E567B;
}