<div class="modal-body" style="background-color: whitesmoke">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <img src="https://us.123rf.com/450wm/bilahstudio/bilahstudio2103/bilahstudio210301065/166363678-modern-style-vector-illustration-remember-people-character-password-with-security-code-sign-lock-for.jpg?ver=6"
                    alt="images" width="540" height="400">
            </div>
            <div class="col">
                <div class="container" style="border: 2px solid rgb(240, 234, 234); border-radius: 10px;">
                    <form novalidate [formGroup]="myform" class="row g-3">
                        <div style="margin-top:5%; text-align: center; color: blue; font-size: 25px;">
                            <b>Forget Password</b>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <br>
                                <label for="formGroupExampleInput2" class="form-label"><b>Email</b></label>
                                <input formControlName="email" type="email" class="form-control"
                                    id="formGroupExampleInput2" placeholder="priya@example.com">
                                <div class="text-danger"
                                    *ngIf="myform.controls['email'].touched && myform.controls['email'].invalid ">
                                    <p *ngIf="myform.controls['email'].errors?.['required']"><b>Email is required</b>
                                    </p>
                                    <p *ngIf="myform.controls['email'].errors?.['email']"><b>Please enter valid
                                            Email</b>
                                    </p>
                                    <p *ngIf="myform.controls['email'].errors?.['minlength']"><b>Email min length 4
                                            character is required</b></p>
                                </div>
                            </div>
                        </div>

                        <div class=" row mt-3">
                            <div class="col">
                                <label for="formGroupExampleInput2" class="form-label"><b>New Password</b></label>
                                <input formControlName="paswd" type="password" class="form-control"
                                    id="formGroupExampleInput2" placeholder="Minimum be atleast 5 characters">
                                <div class="text-danger"
                                    *ngIf="myform.controls['paswd'].touched && myform.controls['paswd'].invalid">
                                    <p *ngIf="myform.controls['paswd'].errors?.['required']"><b>Please Enter
                                            Password</b>
                                    </p>
                                    <p *ngIf="myform.controls['paswd'].errors?.['minlength']"><b>Min length should 5
                                            char</b></p>
                                    <p *ngIf="myform.controls['paswd'].errors?.['maxlength']"><b>Max length should 15
                                            char</b></p>
                                </div>
                            </div>
                        </div>
                        <div class=" row mt-3">
                            <div class="col">
                                <label for="formGroupExampleInput2" class="form-label"><b> Confirm Password</b></label>
                                <input formControlName="cpaswd" type="password" class="form-control"
                                    id="formGroupExampleInput2" placeholder="Minimum be atleast 5 characters">
                                <div class="text-danger"
                                    *ngIf="myform.controls['cpaswd'].touched && myform.controls['cpaswd'].invalid">
                                    <p *ngIf="myform.controls['cpaswd'].errors?.['required']"><b>Please Enter
                                            Password</b>
                                    </p>
                                    <p *ngIf="myform.controls['cpaswd'].errors?.['minlength']"><b>Min length should 5
                                            char</b></p>
                                    <p *ngIf="myform.controls['cpaswd'].errors?.['maxlength']"><b>Max length should 15
                                            char</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group mb-3">
                                <p>{{errmsg}}</p>
                                <button (click)="getValues()" type="submit" class="btn btn-primary blocks">
                                    RESET
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>