<!-- --------------------------search bar -->
<br>
<div class="container">
  <div class="d-flex  justify-content-center">
    
      <input type="text" class="w-50 p-3" placeholder="What are you looking for?">
      <span class=""><button class="btn btn-primary h-100 w-40" type="button">
          <i class="bi bi-search"></i></button></span>
    
  </div>
</div>
<br>
<!-- ----------------------------------slider--------------------------------------- -->

<div class="container-fluid">
  <div style="width: auto; height: auto;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h4 class="slider1">Introducing
          <br>
          <pre><h1>Fresher jobs New</h1><h2>Apply to premium fresher jobs for free</h2>
            <h4>
              ✔ Minimum CTC 3 LPA

              ✔ 100% verified jobs
              

            <button type="button">View jobs</button></h4>
          </pre>
        </h4>
        <img src="./../../../assets/image/slider1.png" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">

        <h1 class="slider4">Get ahead.Get an Intership
          <pre>
            <h4 class="sli4">
              ✔ 10,000+ internships with stipend
  
              ✔ 100% verified
  
              ✔ Apply for free

              <a href="/internships"><button type="button">View internships</button></a>
              
            </h4>
          </pre>
        </h1>
        <img src="./../../../assets/image/slider4.png" class="d-block w-100" alt="...">
      </div>


      <div class="carousel-item">
        <img src="./../../../assets/image/slider2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../../assets/image/slider3.png" class="d-block w-100" alt="...">
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- -------------------------main container -------------------------- -->
<br>
<div class="container ">

  <h1 style="color: blue;"><b>Internships</b></h1>

  <div class="d-flex justify-content-start align-self-center ">
    <div>
      <h4 class="align-self-center">Apply to 10,000+ internships for free</h4>
    </div>
  </div>
  <div class="d-flex justify-content-end"><a href="/internships" style="text-decoration:none;"><h3><b>View All Internships</b></h3></a>
  </div>
  <div>
    <h2><b>Popular City</b></h2>
  </div>
  <div class="d-flex justify-content-around ">
    <div class="hvr">
      <a [routerLink]="['/search/intern']" [queryParams]="{ worktype:'work from home',type:'internship'}">
        <div class="bg-image hover-zoom" >
          <img src="https://internshala.com/static/images/home/internships/categories/work_from_home.svg" alt="">
        </div>
        <div class="d-flex justify-content-center bg-image hover-zoom">
          <p><b> work from home</b></p>
        </div>
      </a>
    </div>
    <div class="hvr">
      <a>
        <a [routerLink]="['/search/intern']" [queryParams]="{ location:'Delhi',type:'internship'}">
          <img src="https://internshala.com/static/images/home/internships/categories/delhi_ncr.svg" alt="">
        </a>
        <div class="d-flex justify-content-center">
          <p><b> Delhi/NCR</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/bangalore.svg" alt="">
        </div>
        <div class="d-flex justify-content-center ">
          <p><b> Bangalore</b>
          </p>
        </div>
      </a>
    </div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/mumbai.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b> Mumbai</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/hyderabad.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b> Hyderabad</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/chennai.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b> Chennai</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/kolkata.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>kolkata</b>
          </p>
        </div>
      </a></div>

    <!-- ------------------ -->

    <div><a>
        <div class="d-flex justify-content-center">
          <img src="https://internshala.com/static/images/home/internships/categories/international.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>International</b>
          </p>
        </div>
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    <h2><b>Popular Catagories</b></h2>
  </div>
  <div class="d-flex justify-content-around">
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/part_time.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Part Time</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/engineering.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Engineering</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/ngo.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>NGO</b>
          </p>
        </div>
      </a>
    </div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/mba.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>MBA</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/design.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Design</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/science.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Science</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/media.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b> Media</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div class="d-flex justify-content-center">
          <img src="https://internshala.com/static/images/home/internships/categories/humanities.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Humanities</b>
          </p>
        </div>
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>

  <!-- ------------ -->
  <!-- <div class="d-flex justify-content-start align-self-center ">
    <div class="logo">
      <h2>Internships Trainings <img src="https://internshala.com/cached_uploads/offer_tags/624ff659bfc191649407577.png"
          alt="" width="80px"></h2>
    </div>
  </div>
  <div class="d-flex justify-content-end"><a href="#" style="text-decoration:none;"><b>View All Trainings</b></a></div>
  <div>
    <p>Learn new-age skills on the go</p>
  </div>
</div>

<div class="d-flex justify-content-around">
  <div>
    <a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/programming_with_python.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p><b>Python</b></p>
      </div>
    </a>
  </div>
  <div>
    <a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/digital_marketing.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p> <b>Digital Marketing</b></p>
      </div>
    </a>
  </div>
  <div>
    <a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/web_development.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p> <b>Web Design</b>
        </p>
      </div>
    </a>
  </div>
  <div><a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/machine_learning.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p><b>Machine Learning</b>
        </p>
      </div>
    </a></div>
  <div><a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/advanced_excel.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p> <b>Advance Excel</b>
        </p>
      </div>
    </a></div>
  <div><a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/ethical_hacking.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p> <b>Ethical Hacking</b>
        </p>
      </div>
    </a></div>
  <div><a>
      <div>
        <img src="https://internshala.com/static/images/home/trainings/icons/autocad.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p><b> Auto CAD</b>
        </p>
      </div>
    </a></div>
  <div><a>
      <div class="d-flex justify-content-center">
        <img src="https://internshala.com/static/images/home/trainings/icons/creative_writing.svg" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <p> <b>Creative Writing</b>
        </p>
      </div>
    </a>
  </div>
</div>
<br>
<br><br><br> -->
<!-- <div class="container ">
  <h2>Specializations with guaranteed internships</h2>

  <div class="d-flex justify-content-start align-self-center ">
    <div>
      <p class="align-self-center">With a min. ₹10,000/month stipend</p>
    </div>
  </div>
  <div class="d-flex justify-content-end"><a href="#" style="text-decoration:none;"><b>View All Specialization</b></a>
  </div>
  <div>


    <div class="d-flex  flex-row">
      <div>
        <a>
          <div>
            <img src="https://internshala.com/static/images/home/specializations/digital_marketing.svg" alt="">
          </div>
          <div class="d-flex justify-content-center">
            <p><b>Digital <br>Marketing</b></p>
          </div>
        </a>
      </div>

      <a>
        <div>
          <img src="https://internshala.com/static/images/home/specializations/human_resource_management.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Human Resource<br>Management</b></p>
        </div>
      </a>
      <div>
        <a>
          <div>
            <img src="https://internshala.com/static/images/home/specializations/data_science.svg" alt="">
          </div>
          <div class="d-flex justify-content-center">
            <p> <b>Data science</b></p>
          </div>
        </a>
      </div>
    </div>
  </div> -->
  <!-- <br><br> -->
  <!-- --------------- -->
  <div class="container">
    <div class="d-flex justify-content-start align-self-center ">
      <div class="logo">
        <h1 style="color: blue;"><b>Jobs</b></h1>
      </div>
    </div>
    <div>
      <h4>Premium jobs on your fingertips</h4>
    </div>
    <div class="d-flex justify-content-end">
      <a href="/jobs" style="text-decoration:none;"><h3><b>View All Jobs</b></h3></a>
    </div>
    
    <div>
      <h2><b>Polpular Cities</b></h2>
    </div>

  </div>
  <div class="d-flex justify-content-around">
    <div>
      <a href="www.google.com">
        <div class="bg-image hover-zoom">
          <img src="https://internshala.com/static/images/home/internships/categories/work_from_home.svg" alt="">
        </div>
        <div class="d-flex justify-content-center bg-image hover-zoom">
          <p><b>work from home</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/delhi_ncr.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Delhi/NCR</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/bangalore.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Bangalore</b>
          </p>
        </div>
      </a>
    </div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/mumbai.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Mumbai</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/hyderabad.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Hyderabad</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/chennai.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Chennai</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/kolkata.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b> Kolkata</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div class="d-flex justify-content-center">
          <img src="https://internshala.com/static/images/home/internships/categories/international.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b> International</b>
          </p>
        </div>
      </a>
    </div>

  </div>
  <br><br><br><br>
  <!-- --------------- -->
  <div>
    <h2><b>Popular Catagories</b></h2>
  </div>
  <div class="d-flex justify-content-around">
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/marketing.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Maeketing</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="	https://internshala.com/static/images/home/internships/categories/content_writing.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Content Writing</b></p>
        </div>
      </a>
    </div>
    <div>
      <a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/finance.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Finance</b>
          </p>
        </div>
      </a>
    </div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/graphic_designing.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Graphic<br>Designing</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/computer_science.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Computer<br>Science</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/hr.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>HR</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div>
          <img src="https://internshala.com/static/images/home/internships/categories/data_science.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p><b>Data Science</b>
          </p>
        </div>
      </a></div>
    <div><a>
        <div class="d-flex justify-content-center">
          <img src="https://internshala.com/static/images/home/internships/categories/engineering.svg" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p> <b>Engineering</b>
          </p>
        </div>
      </a>
    </div>
  </div>
  <br>