.slider4{
    position: absolute;
    padding-left: 30px;
    margin-top: 25px;
}


.slider1{
    position: absolute;
    padding-left: 30px;
    margin-top: 25px;
    color: white;
}

.hvr:hover{
    border: rgb(1, 128, 179) 2px solid; 
    cursor: hand;
}