<br>
<div class="container">
    <div class="row">
        <div class="col-7"></div>

        <div class="col">
            <div class="container" style="border: 1px solid rgb(240, 234, 234); border-radius: 10px;">

                <!-- <div class="row mt-3"> 
                    <div class="container mt-3 mb-3"
                        style="border: 1px solid #dee2e6!important; padding: 6px; border-radius: 5px;">
                        <a class="google_login" href="#" style="text-decoration: none; color: #000;">
                            <div style="text-align: center;">
                                <div>
                                    <img src="https://internshala.com/static/images/login/google_logo.png">

                                    <b>Sign Up with Google</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> 

                <div class="row mt-3">
                    <div class="col">
                        <div class="border" style="border: 1px solid #dee2e6!important; width:160px;"></div>
                    </div>

                    <div class="col" style="margin-top: -12px;">
                        OR
                    </div>

                    <div class="col">
                        <div class="border" style="border: 1px solid #dee2e6!important; width:160px;"></div>
                    </div>
                </div> -->

                <form class="row g-3" novalidate [formGroup]="myform">
                    <div class="row mt-3">
                        <div class="col">
                            <label for="formGroupExampleInput2" class="form-label"><b>Email</b></label>
                            <input formControlName="email" type="email" class="form-control" id="formGroupExampleInput2"
                                placeholder="priya@example.com">
                            <div class="text-danger"
                                *ngIf="myform.controls['email'].touched && myform.controls['email'].invalid ">
                                <p *ngIf="myform.controls['email'].errors?.['required']"><b>Email is required</b></p>
                                <p *ngIf="myform.controls['email'].errors?.['email']"><b>Please enter valid Email</b>
                                </p>
                                <p *ngIf="myform.controls['email'].errors?.['minlength']"><b>Email min length 4
                                        character is required</b></p>
                            </div>
                        </div>
                    </div>

                    <div class=" row mt-3">
                        <div class="col">
                            <label for="formGroupExampleInput2" class="form-label"><b>Password</b></label>
                            <input formControlName="password" type="password" class="form-control"
                                id="formGroupExampleInput2" placeholder="Minimum be atleast 5 characters">
                            <div class="text-danger"
                                *ngIf="myform.controls['password'].touched && myform.controls['password'].invalid">
                                <p *ngIf="myform.controls['password'].errors?.['required']"><b>Please Enter Password</b>
                                </p>
                                <p *ngIf="myform.controls['password'].errors?.['minlength']"><b>Min length should 5
                                        char</b></p>
                                <p *ngIf="myform.controls['password'].errors?.['maxlength']"><b>Max length should 7
                                        char</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label for="formGroupExampleInput2" class="form-label"><b>First Name</b></label>
                            <input formControlName="fname" type="text" class="form-control" placeholder="Priya" aria-label="First name">
                            <div class="text-danger" *ngIf="myform.controls['fname'].touched && myform.controls['fname'].invalid">
                                <p *ngIf="myform.controls['fname'].errors?.['required']"><b>First Name is Required</b></p>
                              </div>
                        </div>
                        <div class="col">
                            <label for="formGroupExampleInput2" class="form-label"><b>Last Name</b></label>
                            <input  formControlName="lname" type="text" class="form-control" placeholder="Shetty" aria-label="Last name">
                            <div class="text-danger" *ngIf="myform.controls['lname'].touched && myform.controls['lname'].invalid">
                                <p *ngIf="myform.controls['lname'].errors?.['required']"><b>Last Name is Required</b></p>
                              </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col">
                            <span style="color: #333333; line-height: 1.57; font-weight: 400">
                                By Signing up, you agree to our <a href="#" target="_blank"
                                    style="text-decoration: none;"><b>Terms
                                        and
                                        Conditions</b></a>.
                            </span>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <button (click)="getValues()" type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                        </div>
                        <div>

                            <div class=" row mt-3">
                                <div class="col">
                                    <div class="d-grid gap-2" style="text-align: center;">
                                        <span>
                                            <b>Already Registered?</b>
                                            <a href="#" style="text-decoration: none;"><b>Login</b></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>