<!-- <p>header works!</p> -->


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      
      <div class="d-flex justify-content-start">
        <a class="navbar-brand  gy-5 " href="/home">
          <img src="https://internshala.com/static/images/common/new_internshala_logo.svg" alt="" width="250px"
            height="24">
        </a>
      </div>
      <div class="d-flex justify-content-end">
        <div class="collapse navbar-collapse ">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/internships" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Intership
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Location</a></li>
                <li><a class="dropdown-item" href="#">Category</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/online-trainings" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Online Training OFFER
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Location</a></li>
                <li><a class="dropdown-item" href="#">Category</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/jobs" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Jobs
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Location</a></li>
                <li><a class="dropdown-item" href="#">Category</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <button type="button" class="border border-primary px-3 me-2" style="background-color: white;">
            <a href="/login" style="text-decoration: none;">Login</a>
          </button>

          <button class="btn btn-primary me-3 gx-8 dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <a href="/register" style="text-decoration: none; color:white;"> Register</a>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/register-student">As a student</a></li>
            <li><a class="dropdown-item" href="/register-employer">As a employer</a></li>
          </ul>

        </div>
      </div>
    </div>
  </nav> -->
<div class="container-fluid">

  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="d-flex">
      <a class="navbar-brand" href="#">
        <img src="https://internshala.com/static/images/common/new_internshala_logo.svg" alt="" width="250px"
          height="24">
      </a>
    </div>
    </div>
  </nav>
</div>