<header>

  <a class="logo" href="#">
    <img class="logo" src="https://internshala.com/static/images/common/new_internshala_logo.svg" alt="InternShala">
  </a>
  <nav>
    <ul class="nav_links">
      <li class="nav-item dropdown" id="myDropdown">

        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: blue; font-size: larger;">
          Internships </a>

        <ul class="dropdown-menu">

          <li *ngFor="let intern of internship"> <a class="dropdown-item" href="/internships"> {{intern.category}} </a>

            <ul class="submenu dropdown-menu">

              <li *ngFor="let opt of intern.options"><a class="dropdown-item" href={{opt.link}}>{{opt.title}}</a>

              </li>

            </ul>

          </li>

        </ul>

      </li>
      <li class="nav-item dropdown">
      <li class="nav-item dropdown" id="myDropdown">

        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: blue; font-size: larger;">
          Jobs </a>

        <ul class="dropdown-menu">

          <li *ngFor="let intern of jobs"> <a class="dropdown-item" href="/jobs"> {{intern.category}} </a>

            <ul class="submenu dropdown-menu">

              <li *ngFor="let opt of intern.options"><a class="dropdown-item" href={{opt.link}}>{{opt.title}}</a>

              </li>

            </ul>

          </li>

        </ul>

      </li>

    </ul>
  </nav>
  <a [routerLink]="['login']" id="cta">
    <button  mat-button (click)="openDialog()"  class="headingbutton" style="color: blue; font-size: larger;">Login</button></a>
 
    <a href="/register">
    <button class="headingbutton" style="background-color: blue; color: beige; font-size: larger;">Register</button></a>

</header>